body{
    margin: auto;
    padding:auto;
    background-image:url("../images/dust_scratches.png");
    font-family:" Georgia, 'Times New Roman', Times, serif";    
}


header{
    border-bottom: solid #cccccc;
    margin: 0;
    background:white; 
    overflow:auto;  
    margin-bottom:20px   
}

h1{
    
    background:#4aaaa5;
    width:16%;
    margin-bottom:0;
    margin:0;
    float:left;
    margin-right:0;
    margin-left:317px;
    padding-top:10px;
    padding-bottom:13px;
    padding-left:5px;
    padding-right:5px;
    font-size:24px;
    text-align:center;
    font-family:" Georgia, 'Times New Roman', Times, serif";
    color:#ffffff
    
}

    h2{
        margin-left:20px;
        text-align:left;
        color:#4aaaa5;
        padding-top:19px
    }


 footer{
    clear:both; 
    background:#666666;
    padding-bottom:20px;
    color: white;
    text-align:center;
    margin:0;
    position:fixed;
    bottom:0;
    width:100%;
    border-bottom:solid black;
    border-top:solid #4aaaa5 5px;
    padding-bottom:1px;
    padding-top:15px;
    
}

nav{
  float:right;
  margin-right:295px
}


img{
  
   margin-right:10px;
   margin-left:21px;
   width: 200px;
   height:200px   
}

li{
   list-style: none;
   display:inline-block;
   margin-right:20px
    }

a{
  color:lightslategray;
  margin-left: 82px;
  font-size: 20px
}

section{
    width:630px;
    margin:auto;
    background:white;
    height:625px;
    margin-bottom:20px
    }

p{
  font-size:18px;
  color:lightslategray
}

.navlinks {
  text-decoration: none;
}

hr{
  border-top:solid lightgrey;
  width:91%;
  margin-bottom:20px
}


.img{
    float:left;
    position:relative;
    width:200px;
    height:200px;
    margin-right:20px;
    margin-bottom: -10px
}

@media (max-width: 980px){

    section{
        width:90%
    }  
    
    h1{
        margin-left:48px;
        width:25%
    }

    ul{
        margin-right:-57px
    }

    header{
        overflow-x: hidden
    }

    img{
        margin-top:10px
    }

    nav{
        margin-right:86px
    }
}                


    

        @media (max-width: 768px){

            section{
                width:90%;
                height:95%;
            }   
                img {
                    width:287px;
                    height:242px;
                    margin-bottom:20px
                 }
    
                 .pmargin{
                     margin:10px
                 }
    
                 h1{
                     width:30%;
                     margin-left:37px
                 }
                
                

                 header{
                     overflow-x: hidden
                 }

                 body{
                    /* overflow-y: hidden; */
                 }

                }
   
                @media (max-width: 640px){

                    body{
                       
                       /* overflow-y: hidden;  */
                    }

                    nav{
                        margin-right:309px
                     }
            
                    header{
                        overflow-x: hidden
                    }
            
                    section{
                        width:90%;
                        height:95%
                    }  
                    
                    h1{
                        width:100%;
                        margin-left:0;
                    
                    }
            
                    ul{
                    
                        margin-right:-118px;
                        margin-left:20px
                    }
                       img{
                           width:492px;
                           height:300px;
                           margin:25px
                       }           
                    
                    }

                    @media (max-width: 320px){
                        .container{
                            width:320px
                        }
                    }
            
            